.container {
	width: 480px;
	height: 480px;
	background-color: #666;
	border: 1px solid black;	
	position: relative;
	left: 50%;
	margin-top: 80px;	
	transform: translateX(-50%);
}

.tile {
	width: 28px;
	height: 28px;
	background-color: white;
	border: 1px solid #B8B8B8;
	float: left;
}

.bContainer {
	position: absolute;
	left: 50%;
	top: -50px;
	transform: translateX(-50%);	
	text-align: center;
}

button {
	font-family: Arial;
	font-size: 1.2em;
}